test.xml
settings.xml
*.class
MjdjMidiMorph/Mjdj.app/Contents/Resources/Java/Mjdj.jar
MjdjMidiMorph/Mjdj.app/Contents/Resources/Java/MjdjApi.jar
*.dmg
MjdjOnWindows/lib/Mjdj.jar
MjdjOnWindows/lib/MjdjApi.jar
.settings
.pmd
.classpath
doc
